<nav class="navidelphia">
  <div class="nav-wrapper">
    <a data-ui-sref="tripsIndex" class="brand-logo">OptiRoute</a>
    <ul class="right hide-on-med-and-down">
      <li><a class="waves-effect waves-light modal-trigger" href="#modal2">Directions</a></li>
    </ul>
  </div>
</nav>

<div id="modal2" class="modal bottom-sheet">
  <div class="modal-content">
    <h4>Directions</h4>
    <div id="directions-panel"></div>
  </div>
</div>
<div class="row">
<div class="col s3">
  <h3> {{tripsShowVM.trip.name}} </h3>
  <label>Choose Start Point</label>
  <select class="browser-default" data-ng-model="tripsShowVM.trip.start">
    <option data-ng-repeat="destination in tripsShowVM.trip.destinations" value={{destination.address}}>{{destination.name}}</option>
  </select>

  <label>Choose End Point</label>
  <select class="browser-default" data-ng-model="tripsShowVM.trip.end">
    <option data-ng-repeat="destination in tripsShowVM.trip.destinations" value={{destination.address}}>{{destination.name}}</option>
  </select>

  <button type="button" id="routebutton" class="col s6 btn btn-primary btn-block" data-ng-click="tripsShowVM.generateDirections(); toggleDirections = !toggleDirections">Route</button>
  <button type="button" id="deletebutton" class=" col s4 btn btn-primary btn-block right" data-ng-click="tripsShowVM.delete()">Delete</button>
</div>


<div class="col s9" id="map"></div>
</div>
