<nav>
  <div class="nav-wrapper">
    <ul class="right hide-on-med-and-down">
      <li><a class="waves-effect waves-light modal-trigger" href="#modal1">Past Trips</a></li>
    </ul>
  </div>
</nav>

<!-- <div data-ng-repeat="trip in tripsIndexVM.trips | orderBy:'-created_at'">
<p><a data-ui-sref="tripsShow({id: trip.id})">{{trip.name}}</a></p>
</div> -->

<div id="modal1" class="modal bottom-sheet">
  <div class="modal-content">
    <h4>Trips</h4>
    <ul class="collection directions-panel" >
      <li class="collection-item" data-ng-repeat="trip in tripsIndexVM.trips | orderBy:'-created_at'">
        <span class="title modal-close"><a data-ui-sref="tripsShow({id: trip.id})">{{trip.name}}</a></span>
      </li>
    </ul>
  </div>
</div>

<div class="row" data-trip-form data-trip="tripsIndexVM.newTrip" data-destinations="tripsIndexVM.destinations"></div>
